@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #272727;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul.list-disc {
    list-style-type: disc;
    padding-left: 1.25rem;
  }
}

@layer utilities {
  .text-main {
    color: #272727;
  }
}
